.rent-container {
  height: 100%;
  width: 100%;
  padding: 1rem;
  font-family: "Poppins", sans-serif;
  background: #f8f9fb;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  gap: 2rem;
}

.rent-header {
  display: flex;
  align-items: center;
  gap: 12px;
}

.rent-header h1 {
  font-size: 2rem;
  color: #222;
  display: flex;
  align-items: center;
  gap: 10px;
}

.back-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 6px;
  border-radius: 50%;
  transition: background 0.3s;
}

.back-btn:hover {
  background: rgba(0, 0, 0, 0.05);
}

.rent-card {
  display: flex;
  flex-direction: column;
  
  border-radius: 16px;
  
  padding: 2rem;
  gap: 2rem;
}

.rent-img {
  width: 100%;
  max-height: 400px;
  object-fit: contain;
  border-radius: 12px;
  align-self: center;
}

.rent-info {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.rent-info h2 {
  font-size: 1.8rem;
  color: #111;
}

.rent-category {
  font-weight: 600;
  color: #555;
  font-size: 1rem;
}

.rent-desc {
  color: #666;
  line-height: 1.6;
  font-size: 1rem;
}

.rent-section {
  background: #f1f3f6;
  padding: 1rem 1.5rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.rent-section h3 {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 600;
  color: #222;
  border-bottom: 1px solid #ddd;
  padding-bottom: 4px;
}

.rent-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px 24px;
  font-size: 1rem;
  color: #444;
}

.rent-details p {
  display: flex;
  align-items: center;
  gap: 8px;
}

.rent-price {
  font-size: 1.5rem;
  font-weight: 700;
  color: #007bff;
  margin-top: 1rem;
}

.rent-availability {
  font-weight: 600;
  margin-top: 0.5rem;
}

.rent-btn {
  background: green;
  color: white;
  padding: 14px 24px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.1rem;
  margin-top: 1rem;
  transition: transform 0.2s ease, box-shadow 0.3s ease;
  align-self: flex-start;
}

.rent-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 18px rgb(4, 106, 19);
}

.rent-btn.disabled {
  background: #ccc;
  cursor: not-allowed;
  box-shadow: none;
}

.rent-section ul {
  margin: 0.5rem 0 0 1rem;
  text-align: left;
  padding: 0;
  list-style: disc;
  color: #555;
}

.rent-section li {
  margin-bottom: 0.4rem;
}

.rent-section h3 {
  font-size: 1.3rem;
  color: #222;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid #ddd;
  padding-bottom: 4px;
}


@media (max-width: 1024px) {
  .rent-card {
    text-align: center;
  }
  .rent-details {
    grid-template-columns: 1fr;
  }
}
