/*design Root App*/

#root{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #f1f1f1;
    color: green;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
}